body {
	background: url(../img/christmas-background.jpg) no-repeat fixed center top / cover transparent;
	font-family: sans-serif;
}

.wrapper {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	background: linear-gradient(pink, rgba(255,255,255,0.4));
	padding: 20px;
}

.wrapper p:not(:first-of-type) {
    display: none;
}

button {
    background: violet;
    padding: 20px;
}

button:hover {
	background: grey;
	color: #fff;
}